body {
    background-color: blue;
}

* {
    font-size: 30px;
    font-weight: 500;
}

h3 {
    color: aqua;
}

h4 {
    color: darkkhaki;
}

.myclass {
    color: darkorange;
}

#myid {
    color: mediumpurple;
}

h5,
p {
    color: maroon;
}